# Do not check in (the Dockerfile uses the toml file)
# Requires Python3.9, see the Dockerfile
python3-nmap==1.5.4
loguru==0.5.3
Flask==1.0.3
MarkupSafe==0.23
itsdangerous==0.24
Jinja2==2.10
click==7.1.2
Werkzeug==1.0.1
requests
numpy
pytest
